.mySwiper {
    width: 100%;
    padding: 50px !important;
}

@media(max-width: 640px) {
    .mySwiper {
        padding: 5px !important;
        height: 400px;
    }
}

@media (min-width: 640px) and (max-width: 1080px) {
    .mySwiper {
        padding: 40px 0 !important;
        height: 500px;
    }
}

.swiper-pagination-bullet {
    background-color: white !important;
}